@model Category
@{
    ViewBag.PageTitle = "إدارة الأصناف";
    ViewBag.CardTitle = "إضافة صنف جديد";
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<div class="container mt-3">
    <form asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"><i class="nav-icon fas fa-font ml-2"></i>الاسم</label>
            <input asp-for="Name" class="form-control" placeholder="إكتب إسم الصنف" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Description" class="form-label"><i class="nav-icon 	fas fa-align-right ml-2"></i> الوصف</label>
            <input asp-for="Description" class="form-control" placeholder="إكتب وصف الصنف" />
            <span asp-validation-for="Description" class="text-danger"></span>

        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-custom">إضافة الصنف</button>
            <a asp-action="Index" asp-controller="Category" class="btn btn-warning">الرجوع</a>
        </div>
    </form>
</div>